<% provide(:title, 'Create food') %>
<h1>Create Food</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@food) do |f| %>
      
      <%= render 'shared/error_messages_food'%>
    
      <%= f.label :Food %>
      <%= f.text_field :foodlist, class: "form-control" %>
      
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "form-control" %>

      <%= f.submit "Create foodlist", class: "btn btn-primary" %>
      <%= button_tag "Reset", type: :reset, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>